.sapUiContentPadding{
    background-color: white;
}
.headerItem{
    gap :10px;
    margin-left: 30%;
    
}
.vgheading{
    margin: 10px;
    padding: 5px;
    font-weight: bold;
    width: 100%;
}
.Vboxtab{
    margin: 5% 0%;
}
/* Enter your custom styles here */

.sapUiContentPadding{
    background-color: white;
}
.headerItem{
    gap :10px;
    margin-left: 30%;
    
    
}
.vgheading{
    margin: 10px;
    padding: 5px;
    font-weight: bold;
    width: 100%;
}
.Vboxtab{
    margin: 5% 0%;
}
.Vboxlab{
    margin: 1%;
}
.headerItem{
    margin: 3%;
     gap:15px;
}
/* #_IDGenLabel7{
    margin-left: 25%;
} */
.flex{
    margin-top: 1%; margin-left: 1%;
        gap:1% ;
       
}


.hboxv{
  margin-left: 5%;  
}
element.style {
    justify-content: flex;
    text-align: center;
    justify-content: center;
}
.rank{
    padding-left : 43px;
}
.score{
    padding-left:11px;
}
.eligibility{
    padding-left:14px;
}

