.sapUiContentPadding{
    background-color: white;
}
.headerItem{
    gap :10px;
    margin-left: 30%;
    
}
.vgheading{
    margin: 10px;
    padding: 5px;
    font-weight: bold;
    width: 100%;
}
.Vboxtab{
    margin: 5% 0%;
}
/* Enter your custom styles here */

.sapUiContentPadding{
    background-color: white;
}
.headerItem{
    gap :10px;
    margin-left: 30%;
    
    
}
.vgheading{
    margin: 10px;
    padding: 5px;
    font-weight: bold;
    width: 100%;
}
.Vboxtab{
    margin: 5% 0%;
}
.Vboxlab{
    margin: 1%;
}
.headerItem{
    margin: 3%;
     gap:10px;
}
/* #_IDGenLabel7{
    margin-left: 25%;
} */
.flex{
    margin-top: 1%; margin-left: 1%;
        gap:8% ;
        /* margin-left: 60px; */
}

.sapUiSizeCompact .sapMTPClocksContainer{
  height: 200px; margin: -5%;
}
.hboxv{
  margin-left: 5%;  
}

