.Page{
    background-color: white;
}
.scrollContainer{
    scrollbar-width: none;
}
.planInfo{
    gap:10px ;
}
.charteringHeader{
    gap:8% ;
    margin-left: 60px;
}
.icontab{
  margin-top: 5px;
 

}
.headerItem{
    gap :10px;
    
}
.charteringItem{
    margin-right:65%;
}
.createcharteringHeader{
    gap:6% ;
    margin-left: 60px;
}